<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thepo">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BrowseStations" />
        <activity android:name=".ArtistInfo" />
        <activity android:name=".Tab2Radio" />
        <activity android:name=".Tab3Upload" />
        <activity android:name=".radio_mariachi" />
        <activity android:name=".radio_kpop" />
        <activity android:name=".radio_piano" />
        <activity android:name=".RapRadio2" />
        <activity android:name=".BlueGrassRadio2" />
        <activity android:name=".RockRadio2"></activity>
    </application>

</manifest>